
@keyframes pulse {
  0% {background-color: darkred;}
  50% {background-color: #ccc;}
  100% {background-color: black;}
}

body {
  animation: pulse 10s infinite ;
  overflow: hidden;
  margin: 0;

}


h1 {
  font-family: monospace;
  font-size: 30pt;
  text-align: center;
}

@keyframes slideLeft {
  0% {left: 0px; top: 0px;}
  100% {left: -500px; top: -500px;}
}
#top {
  animation-name: slideLeft;
  animation-duration: 4.5s;
  background: linear-gradient( red, darkred);
  height: 50vh;
  width: 50vw;
  border-radius: 50vw 50vw 0 0;
  border: 2px solid black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

@keyframes move {
  0%   {left: 0px; bottom: 0px;}
  100%   {left: -500px; bottom: -500px;}
}

#bottom {
  animation: move;
  animation-duration: 4.5s;
  background: linear-gradient(to top, black 20%, white 10%);
  height: 50vh;
  width: 50vw;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50vw 50vw 0 0;
  transform: rotate(180deg);
  z-index: 0;
  border: 2px solid black;
}

@keyframes begone {
  from  {opacity: 1}
  to {opacity: 0}
}

.Big-circle {
  animation-name: begone;
  animation-duration: 5s;
  background: #ccc;
  border: 20px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  bottom: 35%;
  left:38%;

}

.btn {

  height: 50px;
  width: 50px;
  border: 6px solid black;
  position: absolute;
  border-radius: 50%;
  background: transparent;
  left: 26%;
  bottom: 22%;

}

@keyframes rainbow {
0% {background-color: #ff0000;}
10% {background-color: #ff8000;}
20% {background-color: #ffff00;}
30% {background-color: #80ff00;}
40% {background-color: #00ff00;}
50% {background-color: #00ff80;}
60% {background-color: #00ffff;}
70% {background-color: #0080ff;}
80% {background-color: #0000ff;}
90% {background-color: #8000ff;}
100% {background-color: #ff0080;}
}


.btn:hover {
  animation: rainbow 2s infinite;
}
